body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header img {
  width: 100%;
  height: auto;
}

.container {
  padding: 15px;
}

.palpite {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 5px solid green;
}
